root = true

[*]
indent_style = tab
indent_size = 4
end_of_line = lf
charset = utf-8
tab_width = 4
max_line_length = 150
trim_trailing_whitespace = true
insert_final_newline = true

[{*.js,*.html,*.css}]
indent_style = space
indent_size = 2

[mvnw.cmd]
end_of_line = crlf
